.model {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 50px;
    z-index: 1000;

}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1000
}

.header {
    font-size: 1.5rem;
    width: 20rem;
    border: white;
}

.card-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 500px;
    overflow-y: scroll;

}

.checkList {
    display: flex;
    flex-direction: column;
    gap: .5rem
}

textarea {
    background-color: rgb(245, 239, 239);
    font-size: xx-small;
    width: 100%;
}

.checkLists {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkitem {
    display: flex;
    justify-content: space-between;
}

.btn {
    margin: .5rem;
}

.item {
    border: #fff;
}

.checkListSvg {
    width: 1.5rem;
    height: 1.5rem;
}